<section>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets\events\even2.jpg" class=" d-block w-100 " alt="... ">

            </div>
            <div class="carousel-item ">
                <img src="assets\events\eben3.jpg" class="d-block w-100 " alt="... ">

            </div>

        </div>
        <button class="carousel-control-prev " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="prev ">
            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
            <span class="visually-hidden ">Previous</span>
          </button>
        <button class="carousel-control-next " type="button " data-bs-target="#carouselExampleControls " data-bs-slide="next ">
            <span class="carousel-control-next-icon " aria-hidden="true "></span>
            <span class="visually-hidden ">Next</span>
          </button>
    </div>
</section>

<section>

    <div class="container" data-aos="fade-up">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="\assets\events\even1.jpg" alt="" width="300px" height="300px">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h1>About OUR events</h1>
                <p>Bienvenue dans l'Espace Pour reserver vos evenments . Cet ensemble d'articles la planification, l'organisation et la mise en œuvre de divers événements. Ceux-ci peuvent être des événements publics tels que des foires commerciales, des
                    conférences, des événements sportifs, des concerts ou des événements privés comme les mariages</p>
            </div>
        </div>

    </div>
</section>

<div class="bordure">
    <h2>Sponsors</h2>
    <p>event1 <a href="#">lien facebook</a></p>
    <p>event2 <a href="#">lien facebook </a></p>
</div>
