<!-- <nav class="container d-flex align-items-center">
    <h1><a class="nav-link" [routerLink]="['/']">Events</a></h1>
    <div class="nav-menu d-none d-lg-block">
        <ul>
            <li class="active">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li><a class="nav-link" [routerLink]="['/home']">About</a></li>


            <li><a class="nav-link" [routerLink]="['/home']">Contact</a></li>


            <li><a class="nav-link" [routerLink]="['/login']">Login</a></li>


            <li><a class="nav-link" [routerLink]="['/register']">Register</a></li>


        </ul>
    </div>
</nav> -->


<header class="p-3 bg-blue text-white" class="container d-flex align-items-center">
    <h1><a class="nav-link" [routerLink]="['/']">Events</a></h1>
    <div class="container" class="nav-menu d-none d-lg-block">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a [routerLink]="['/']" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
                <li><a href="#" class="nav-link px-2 text-dark">Contact us</a></li>
                <li><a [routerLink]="['events']" class="nav-link px-2 text-dark">events</a></li>
                <li><a [routerLink]="['/attendees']" class="nav-link px-2 text-dark">attendes</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-dark me-2" [routerLink]="['/login']">Login</button>
                <button type="button" class="btn btn-warning" [routerLink]="['/register']">Sign-up</button>
            </div>
        </div>
    </div>
</header>
