.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #2c4964;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 5px 2px;
    border-bottom: 2px solid #fff;
}

.nav-menu li:hover>a {
    color: #1977cc;
    border-color: #186db8;
}

// .text{
//   text-align: right;
// }