<nav class="container d-flex align-items-center">
    <h1><a class="nav-link" [routerLink]="['/']">Events</a></h1>
    <div class="nav-menu d-none d-lg-block">
        <ul>
            <li class="active">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li><a class="nav-link" [routerLink]="['/home']">About</a></li>


            <li><a class="nav-link" [routerLink]="['/home']">Contact</a></li>


            <li><a class="nav-link" [routerLink]="['/login']">Login</a></li>


            <li><a class="nav-link" [routerLink]="['/register']">Register</a></li>


        </ul>
    </div>
</nav>